.lista{
    background-color: rgba(240, 248, 255, 0.356);
}
.lista h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Righteous', cursive;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.664);
    text-shadow: 4px 5px rgba(0, 0, 0, 0.685);
}

.artista {
    padding: 10px 30px;
    margin: 20px 30px 0px;
    text-align: left;
    font-family: 'Chela One', cursive;
    font-size: 50px;
    color: rgb(128, 22, 43);
    text-shadow: 3px -1px rgba(4, 250, 250, 0.774);
    border: 5px rgb(0, 103, 187);
    border-style: groove;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: rgba(156, 158, 158, 0.253);
    box-shadow: 3px 2px rgba(2, 24, 224, 0.555);
}

.artista img {
    width: 150px;
    height: 150px;
    padding-top: 15px;
}

@media only screen and (max-width:400px) {
    .lista h1 {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 60px;

    }

    .artista {
        padding: 10px 20px;
        margin: 10px 20px;
        text-align: left;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
    }

    .artista img {
        width: 50px;
        height: 50px;
        padding-top: 15px;
    }
}